._borderBaseRow {
  content: ' ';
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  color: #ccc;
  transform-origin: 0 100%;
  border-bottom: 1px solid #ccc;
  transform: scaleY(0.5)
}
._borderBaseColumn {
  content: ' ';
  position: absolute;
  width: 1px;
  transform: scaleX(0.5);
  transform-origin: 100% 0;
  top: 0;
  bottom: 0;
}

.borderBottom {
  bottom: 0;
  @extend ._borderBaseRow;
}

.borderTop {
  top: 0;
  @extend ._borderBaseRow;
}

.borderRight {
  @extend ._borderBaseColumn;
  border-right: 1px solid #ccc;
  right: 0;
}

.borderLeft {
  @extend ._borderBaseColumn;
  border-left: 1px solid #ccc;
  left: 0;
}

body, html {
  height: 100%;
  -webkit-tap-highlight-color: transparent;
}

.cls-tab {
  height: 100%;
  position: relative;
}

.cls-tab__panel {
  box-sizing: border-box;
  height: 100%;
  padding-bottom: 50px;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}