$textColor: #999999;
$borderColor: #e5e5e5;


// 背景颜色
$darkWhite: #F9FAFC;
$white: #fff;
$lightBlue: #58B7FF;
$blue: #20A0FF;
$darkBlue: #1D8CE0;


// 状态颜色

$success: #13CE66;
$warning: #F7BA2A;
$Danger: #FF4949;
$primary: #20A0FF;