$textColor: #999999;
$borderColor: #c4c4c4;


// 背景颜色
$darkWhite: #F9FAFC;
$white: #fff;
$lightBlue: #58B7FF;
$blue: #20A0FF;
$darkBlue: #1D8CE0;
$dark: #1f2d3d;


// 状态颜色

$success: #13CE66;
$warning: #F7BA2A;
$danger: #FF4949;
$primary: #20A0FF;
$default: #fff;
$bgDisable: #eef1f6;